table.bde-table__table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  margin: 16px 0;
}

.bde-table__table,
.bde-table__text,
.bde-table__cell {
  text-align: left;
  vertical-align: top;
}

td.bde-table__cell:last-child td,
td.bde-table__text:last-child td {
  border-bottom: none;
}




